body {
    box-sizing: border-box;
}
h1, h2, h3 {
    margin: 0;
}
h1 {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 4px;
}
h2 {
    font-size: 30px;
}
h3 {
    text-transform: uppercase;
    color: grey;
    margin-bottom: 4px;
    font-size: 24px;
}
.main-content {
    margin: 10%;
    padding: 5px;
    border: 3px dashed #781c3e;
}
.description {
    margin-bottom: 15px;
}
.divider {
    border-bottom: 3px solid grey;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.purchase-info {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}
.price {
    font-size: 30px;
}
button {
    border-radius: 0;
    border: none;
    background-color: #333333;
    color: #fff;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 10px;
    transition: all .1s;
    outline: none;
}
button:hover {
    background-color: #767676;
}